
    






  <div class="container main-content">
    <div class="row">

      <h2 class="main-header">{{filtredCertificat[0].title}}</h2>
      
   
      <div class="container main-content" *ngIf="filtreListCertificatChapitre.length > 0; else noChapters">
        <div >
        <section class="course-details" *ngFor="let chapitre of filtreListCertificatChapitre; let i = index">
          <div *ngIf="i === currentIndex">
         
            <h2>{{ chapitre.id }} - {{ chapitre.titre }}</h2>
  
            <ul class="objectives-list" *ngIf='isStatut==true'>
              <li class="course-section">
                <section>
                  <hr>
                  <ul class="course-content" *ngFor="let contenu of filtrecertificatContenu">
                    <ul class="course-item completed" *ngIf="chapitre.id === contenu.chapitre">
                      <span class="status-icon" title="Bravo, vous avez terminé ce chapitre !">
                        <i class="icon-check2"></i>
                      </span>
                      <h4>{{ contenu.id }}. {{ contenu.sous_titre }}</h4>
                    </ul>
                    <div *ngIf="chapitre.id === contenu.chapitre">
                      <p>{{ contenu.description }}</p>
                    </div>
                  </ul>  
                </section>
                <section *ngFor="let question of filtreQuestion" >
                  <hr>
                  <ul class="course-content" *ngIf="chapitre.id === question.chapitre" >
                    <ul class="course-item completed" >
                      <h4>{{ question.id }}. {{ question.texte }}</h4>
                    </ul>
                    <div *ngFor='let option of options'>
                     <label *ngIf="option.question === question.id" >
                      <input
                        type="radio"
                        name="question{{ question.id }}"
                        [value]="option.id"
                        (change)="selectOption(question.id, option.id)"
                      />
                      {{ option.texte }}
                    </label>
                    </div>
                  </ul> 
                </section>
                <div class="actions" style='padding-left:30px'>
                  <button class="btn btn-primary" *ngIf="allQuestionsAnswered()" (click)="submitReponses()">Soumettre</button>
                </div>
                </li>

<!--
                <div class="chapter-status">
                  <h5>Score : {{ score }}/{{ totalQuestions }}</h5>
                  <h5 *ngIf="isChapterCompleted" class="status-valid">Statut : Validé</h5>
                  <h5 *ngIf="!isChapterCompleted" class="status-retry">Statut : À Revoir</h5>
                </div>

-->
              </ul>
            </div>
        </section>
      </div>
  
       {{tauxDeSucces}}
        <div *ngIf='isStatut==false' class="actions">
          <button *ngIf="allQuestionsAnswered()" (click)="submitReponses()">Soumettre</button>
          <button class="btn btn-secondary" (click)="prevChapter()" [disabled]="currentIndex === 0">
            Retour
          </button>
          <button class="btn btn-primary" (click)="nextChapter()" [disabled]="currentIndex === filtreListCertificatChapitre.length - 1">
     continuer
          </button>
        </div>
      </div>
  
      
      <ng-template #noChapters>
        <p>Aucun chapitre disponible.</p>
      </ng-template>
    </div>
  </div>

    

